
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="col-lg-6 col-lg-offset-3"  style="margin-top:10%;">
        <div class="jumbotron">
            <div class="row text-center">
                <div class="col-lg-5" style="padding:2px 6px 2px 6px; margin:2px 6px 2px 6px">
                    @Html.ActionLink( "Add Contact", "ContactAdd", "ContactAdd", new { area = "" }, new { @class = "btn btn-block btn-primary" } )
                </div>
                <div class="col-lg-5" style="padding:2px 6px 2px 6px ;margin:2px 6px 2px 6px">
                    @Html.ActionLink( "View Contact", "ViewContacts", "ViewContacts", new { area = "" }, new { @class = "btn btn-block btn-primary" } )
                </div>
            </div>
        </div>
    </div>
</div>

