
@{
    ViewBag.Title = "View Contacts";
}

<div class="col-lg-8 col-lg-offset-2" style="margin-top:7%">
    <div class="jumbotron">
        <div class="text-center">
            <h2>All Contacts</h2>
        </div>
        
        <div style="padding-top:4%">

            <table class="table table-responsive table-striped" cellspacing="0" width="100%">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>45</td>
                        <td>Mudassar</td>
                        <td>Mudassaralics007@gmail.com</td>
                        <td>Phone</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>

